<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> {% block title %}{{ title }}{% endblock %}

    <!-- CSS only -->
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/bootstrap.min.css') }}"> -->

    <link rel="stylesheet" href="{{ url_for('static', filename='mobile/css/common.css') }}">
    
    
    
    <script src="{{ url_for('static', filename='mobile/js/hamburger.js') }}"></script> 
    <title>{{title}}</title>
</head>

<body>

    <header>
        {% block header %}{% endblock %}
    </header>
    

    <main>
        {% block main %} {% endblock %}
    </main>


    <script src="{{ url_for('static', filename='bootstrap/bootstrap.bundle.min.js') }}"></script>
    {% block script %}{% endblock %}

</body>

</html>