.map {
  position: fixed;
  height: 100%;
  
  background-color: white;
  overflow-x: hidden;
  transition: 0.1s;
  z-index:-1;
  
}

#map {
    /* la carte DOIT avoir une hauteur sinon elle n'apparaît pas */
    height: 600px!important;
    z-index: -1;
    
}