<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='mobile/css/Authentification/overlay.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='mobile/css/Authentification/home-mobile.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">  
    
    <title>Login - BiKeeper</title>
    <script src="{{ url_for('static', filename='mobile/js/hamburger.js') }}"></script> 
</head>

<body>
	<header>
        <div class="logo">
            <a href="/"><img src="{{ url_for('static', filename='mobile/assets/logo_bikeeper_without_text.png') }}" alt="logo BiKeeper">
            <h1>BiKeeper</h1></a>
        </div>
        <div id="myNav" class="overlay">

          <!-- Button to close the overlay navigation -->
          <img src="{{ url_for('static', filename='mobile/assets/close.png') }}" href="javascript:void(0)" class="closebtn" onclick="closeNav()" alt="close">

          <!-- Overlay content -->
            <div class="overlay-content">
                <div id="login">
                    <img src="{{ url_for('static', filename='mobile/assets/login.png') }}" alt="login">
                    <div class="centrer">
                        <a href="/login/">Login</a>
                    </div>
                    
                </div>
                <div class="rectangle2"></div>
                <div id="register">
                    <img src="{{ url_for('static', filename='mobile/assets/register.png') }}" alt="register">
                    <div class="centrer"><a href="/register/">Register</a></div>
                </div>
                <div class="rectangle2"></div>
            </div>

        </div>

        <!-- Use any element to open/show the overlay navigation menu -->
        <nav onclick="openNav()"><img src="{{ url_for('static', filename='mobile/assets/menu.png') }}" alt="logo menu"></nav>
	</header>
    <main>

        <div id="header"></div>
        <div id="background-avec-image"></div>
        <div id = bien-tout-placer>
            <h2><font color="#FFFFFF">Protect your bike</font><font color="#DC1D21">.</font></h2>
            <div id="avis">
                <div id="mini-header">
                    <img src="{{ url_for('static', filename='mobile/assets/magazine.png') }}" alt="magazine" id="magazine">
                    <h4>Motorbike Magazine</h4>
                    <img src="{{ url_for('static', filename='mobile/assets/thumb-up.png') }}" alt="magazine" id="thumb-up">
                </div>
                <div id ="rate">
                    <span>&starf;&starf;&starf;&starf;&starf;</span>
                    <p>3 days ago</p>
                </div>
                <p>
                    The <strong>best</strong> tracker for <strong>your motorbike</strong>. Simple to use, a lot of features, for a small price ! <strong>BiKeeper</strong> will <strong>protect</strong> your <strong>motorbike</strong> from theft. 
                        Localisation, statistics, fail detector... <strong><font color="#0CA6F2">read more</font></strong>
                </p>
            </div>
        </div>
        <article>
            <h3>What is BiKeeper<font color="#DC1D21">?</font></h3>
            <p>
                <strong>BiKeeper</strong> is a GPS tracker. BiKeeper is <strong>connected</strong> everywhere and <strong>linked to our powerfull software</strong>. When we <strong>detect theft</strong>, a <strong>notification</strong> is <strong>automaticaly sent</strong> to the motorbike <strong>owner</strong>.
            </p>
        </article>
        <div id="localisation">
            <div>
                <h5>Localisation in real time</h5>
                <p>See where is your vehicle on a map directly in a web browser...</p>
                <a href="login.html">Login on our website to track.</a>
            </div>
            <img src="{{ url_for('static', filename='mobile/assets/localisation-1.png') }}" alt="loupe.png">
        </div>
        <article>
            <h3>How does it work<font color="#DC1D21">?</font></h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam porttitor, libero ut eleifend tempor, tellus tellus pretium mauris, nec fringilla mi lacus at felis. Quisque pretium justo et ipsum efficitur, nec consectetur mauris pharetra. Vestibulum at ultricies nunc, at porttitor dolor. Fusce interdum ultrices turpis, et feugiat ipsum fermentum sed. Interdum et malesuada fames ac ante ipsum primis in faucibus.
            </p>
        </article>

    </main>




</body>
</html>