{% extends "mobile/base.html" %}

{% block header %}
        <div class="logo">
            <a href="{{ url_for('index.index') }}"><img src="{{ url_for('static', filename='mobile/assets/logo_bikeeper_without_text.png') }}" alt="logo BiKeeper">
            <h1>BiKeeper</h1></a>
        </div>

        {% include "components/mobile-sidebar-guest.html" %}
        <link rel="stylesheet" href="{{ url_for('static', filename='mobile/css/Authentification/index-mobile.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='mobile/css/Authentification/overlay.css') }}">
        <!-- Use any element to open/show the overlay navigation menu -->
        <nav onclick="openNav()"><img src="{{ url_for('static', filename='mobile/assets/menu.png') }}" alt="logo menu"></nav>
{% endblock %}

{% block main %}

        <div class="header"></div>
        <div class="background-avec-image"></div>
        <div class = bien-tout-placer>
            <h2><span style="color: #FFFFFF; ">Protect your bike</span><span style="color: #DC1D21; ">.</span></h2>
            <div class="avis">
                <div class="mini-header">
                    <img src="{{ url_for('static', filename='mobile/assets/magazine.png') }}" alt="magazine" id="magazine">
                    <h4>Motorbike Magazine</h4>
                    <img src="{{ url_for('static', filename='mobile/assets/thumb-up.png') }}" alt="magazine" id="thumb-up">
                </div>
                <div class ="rate">
                    <span>&starf;&starf;&starf;&starf;&starf;</span>
                    <p>3 days ago</p>
                </div>
                <p>
                    The <strong>best</strong> tracker for <strong>your motorbike</strong>. Simple to use, a lot of features, for a small price ! <strong>BiKeeper</strong> will <strong>protect</strong> your <strong>motorbike</strong> from theft. 
                        Localisation, statistics, fail detector... <strong><span
                        style="color: #0CA6F2; ">read more</span></strong>
                </p>
            </div>
        </div>
        <article>
            <h3>What is BiKeeper<span style="color: #DC1D21; ">?</span></h3>
            <p>
                <strong>BiKeeper</strong> is a GPS tracker. BiKeeper is <strong>connected</strong> everywhere and <strong>linked to our powerfull software</strong>. When we <strong>detect theft</strong>, a <strong>notification</strong> is <strong>automaticaly sent</strong> to the motorbike <strong>owner</strong>.
            </p>
        </article>
        <div class="localisation">
            <div>
                <h5>Localisation in real time</h5>
                <p>See where is your vehicle on a map directly in a web browser...</p>
                <a href="{{ url_for('login.login') }}">Login on our website to track.</a>
            </div>
            <img src="{{ url_for('static', filename='mobile/assets/localisation-1.png') }}" alt="loupe.png">
        </div>
        <article>
            <h3>How does it work<span style="color: #DC1D21; ">?</span></h3>
            <p><!-- TODO CHANGE -->
                Within your vehicle lies the <strong>Bikeeper</strong> device, his function is to read many kinds of data and then send them to you in your account. <strong>Bikeeper</strong> wants you to feel <strong>protected</strong> and <strong>assured</strong> therefore you can access to all of the <strong>details</strong> the device received (the state of your vehicle, and your last rides) and it will send <strong>notifications</strong> if something happens either to you or your vehicle. Furthermore, if you are connected and you have an accident, your device will automatically send a <strong>message</strong> to one of your contact. If you want more information, be sure to check our <strong>FAQ after you create your account.</strong>            </p>
        </article>

{% endblock %}