{% extends "mobile/base.html" %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='mobile/css/Authentification/login-mobile.css') }}">
{% endblock %}

{% block header %}

    <div class="logo">
        <a href="/"><img src="{{ url_for('static', filename='mobile/assets/logo_bikeeper_without_text.png') }}" alt="logo BiKeeper">
        <h1>BiKeeper</h1></a>
    </div>


    {% include "components/mobile-sidebar-admin.html" %}

    <!-- Use any element to open/show the overlay navigation menu -->
    <nav onclick="openNav()"><img src="{{ url_for('static', filename='mobile/assets/menu.png') }}" alt="logo menu"></nav>
{% endblock %}

{% block main %}

    <div id="header"></div>
    <main class='login-main'>
    <h2>
        Login to access your account
    </h2>
    <form action="#" method="POST">
        {{ form.hidden_tag() }}
        <div>

            <label for="username">Username</label>
            {{ form.username(size=50, id="username", placeholder="Enter your username") }}
        </div>
        <div>
            <label for="password">Password</label>
            {{ form.password(size=50, id="password", placeholder="Enter your password") }}
        </div>

        <button type="submit" class="login"><span>Login</span></button>
    </form>
    <div id="rectangle"></div>

{% endblock %}