
{% extends "mobile/base.html" %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='mobile/css/Authentification/header-mobile.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='mobile/css/Authentification/overlay.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='mobile/css/Authentification/register-mobile.css') }}">
{% endblock %}


{% block header %}
        <div class="logo">
            <a href="{{ url_for('index.index') }}">
                <img src="{{ url_for('static', filename='mobile/assets/logo_bikeeper_without_text.png') }}" alt="logo BiKeeper">
                <h1>BiKeeper</h1>
            </a>
        </div>
        {% include "components/mobile-sidebar-guest.html" %}
        <!-- Use any element to open/show the overlay navigation menu -->
        <nav onclick="openNav()"><img src="{{ url_for('static', filename='mobile/assets/menu.png') }}" alt="logo menu"></nav>
{% endblock %}   

{% block main %}
        <div id="header"></div>
        <form action="{{url_for('register.register_validate')}}" method="POST">
            <div class="information">
                <h2>Create your account</h2>
                <div>
                    <label for="username">Username</label>
                    <input type="text" id='username' name="username" placeholder='Enter your username' required>
                </div>
                <div>
                    <label for="email">Email</label>
                    <input type="text" id='email' name="email" placeholder='Enter your email' required>
                </div>
                <div>
                    <label for="password">Password</label>
                    <input type="password" id='password' pattern="^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=\S+$).{6,}$" name="password" placeholder='Enter your password' required>
                </div>
                <div>
                    <label for="confirmpassword">Confirm your password</label>
                    <input type="password" id='confirmpassword' pattern="^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=\S+$).{6,}$" name="confirmpassword" placeholder='Confirm your password' required>
                </div>
            </div>


            <div class="information">
                <h2>Where should we send your device ?</h2>
                <div>
                    <label for="tel">Phone Number</label>
                    <input type="tel" id='tel' name="tel" placeholder='06.12.54.63.95' required>
                </div>
                <div>
                    <label for="address">Address</label>
                    <input type="text" id='address' name="address" placeholder='3170 Broadway #8G' required>
                </div>
                <div>
                    <label for="city">City</label>
                    <input type="text" id='city' name="city" placeholder='New York' required>
                </div>
                <div>
                    <label for="postalCode">Postal Code</label>
                    <input type="text" id='postalCode' pattern="[0-9]{5}" name="postalCode" placeholder='10029' required>
                </div>
            </div>


            <div id="credit-card">
                <h3>Credit Card</h3>
                <img src="{{ url_for('static', filename='mobile/assets/mastercard.png') }}" alt="master card logo">
                <fieldset>
                    <legend>Card number</legend>
                    <input type="text" id='username' name="username" placeholder='1234 - 5678 - 9123 - 4567' required>
                </fieldset>
                <fieldset>
                    <legend>Card Holder Name</legend>
                    <input type="text" id='username' name="username" placeholder='John Doe' required>
                </fieldset>
                <fieldset>
                    <legend>Expiration Date</legend>
                    <input type="text" id='username' name="username" placeholder='08/22' required>
                </fieldset>
                <fieldset>
                    <legend>CVV/CVC</legend>
                    <input type="text" id='username' name="username" placeholder='666' required>
                </fieldset>   
            </div>                                 
            <button type="submit" class="register"><span>Register</span></button>
        </form>
        <div id="rectangle"></div>
{% endblock %}   