
{% extends "mobile/base.html" %}

{% block style %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
<link rel="stylesheet" href="{{ url_for('static', filename='mobile/css/Authentification/header-mobile.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='mobile/css/Authentification/overlay.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='mobile/css/Authentification/register-mobile.css') }}">
{% endblock %}


{% block header %}
        <div class="logo">
            <a href="{{ url_for('index.index') }}">
                <img src="{{ url_for('static', filename='mobile/assets/logo_bikeeper_without_text.png') }}" alt="logo BiKeeper">
                <h1>BiKeeper</h1>
            </a>
        </div>
        {% include "components/mobile-sidebar-guest.html" %}
        <!-- Use any element to open/show the overlay navigation menu -->
        <nav onclick="openNav()"><img src="{{ url_for('static', filename='mobile/assets/menu.png') }}" alt="logo menu"></nav>
{% endblock %}   

{% block main %}
        <form action="{{url_for('register.register_validate')}}" method="POST">
            <div class="flash">
                {% include "messages.html" %}
            </div>
            <div class="information">
                <h2>Create your account</h2>
                <div>
                    <label for="username">Username</label>
                    <input type="text" id='username' name="username" placeholder='Enter your username' required>
                </div>
                <div>
                    <label for="email">Email</label>
                    <input type="text" id='email' name="email" placeholder='Enter your email' required>
                </div>
                <div>
                    <label for="password">Password</label>
                    <input type="password" id='password' name="password" placeholder='Enter your password' required>
                </div>
                <div>
                    <label for="confirmpassword">Confirm your password</label>
                    <input type="password" id='confirmpassword' name="confirmpassword" placeholder='Confirm your password' required>
                </div>
            </div>


            <div class="information">
                <h2>Where should we send your device ?</h2>
                <div>
                    <label for="tel">Phone Number</label>
                    <input type="tel" id='tel' name="tel" placeholder='06.12.54.63.95' required>
                </div>
                <div>
                    <label for="address">Address</label>
                    <input type="text" id='address' name="address" placeholder='3170 Broadway #8G' required>
                </div>
                <div>
                    <label for="city">City</label>
                    <input type="text" id='city' name="city" placeholder='New York' required>
                </div>
                <div>
                    <label for="postalCode">Postal Code</label>
                    <input type="text" id='postalCode' name="postalcode" placeholder='10029' required>
                </div>
            </div>

            <div class="register-subscription">
                <h2>Subscriptions</h2>
                {% for sub in subscriptions %}
                    {% if sub.name_subscription == "France" %}
                    <section class='section-sub'>
                    {% else %}
                    <section class='section-sub selected-sub'>
                    {% endif %}
                        <h2>{{sub.name_subscription}}</h2>
                        <div>
                        <h4>{{sub.localisation_subscription}}</h4>
                            <ul>
                                {% for feature in  features %}
                                    {% if sub.name_subscription == "France" and feature == "World Wide Localisation"%}
                                        <s>{{feature}}</s>
                                    {% else %}
                                        <li>{{feature}}</li>
                                    {% endif %}
                                {% endfor %}
                            </ul> 
                        </div>
                        
                        <div class="sub-radio">
                            <div><span onclick="selectSub(this)">Choose this plan - €{{sub.price_subscription}}/mo</span></div>
                            <input type="radio" name="sub" value="{{sub.name_subscription}}" checked>
                        </div>
                    </section>
                {% endfor %}
            </div>


            <div id="credit-card">
                <h3>Credit Card</h3>
                <img src="{{ url_for('static', filename='mobile/assets/mastercard.png') }}" alt="master card logo">
                <fieldset>
                    <legend>Card number</legend>
                    <input type="text" id='username' name="username" placeholder='1234 - 5678 - 9123 - 4567'>
                </fieldset>
                <fieldset>
                    <legend>Card Holder Name</legend>
                    <input type="text" id='username' name="username" placeholder='John Doe'>
                </fieldset>
                <fieldset>
                    <legend>Expiration Date</legend>
                    <input type="text" id='username' name="username" placeholder='08/22'>
                </fieldset>
                <fieldset>
                    <legend>CVV/CVC</legend>
                    <input type="text" id='username' name="username" placeholder='666'>
                </fieldset>   
            </div>                                 
            <button type="submit" class="register"><span>Register</span></button>
        </form>
        <div id="rectangle"></div>
{% endblock %}   

{% block script %}
<script src="{{ url_for('static', filename='pc/js/subscription.js') }}"></script>
{% endblock %}