.overlay {
  width: 0;
  height: 100%;
  position: fixed; 
  background-color: white;
  overflow-x: hidden; 
  transition: 0.1s;
  z-index: 3;
}

div.container {
  margin: 0;
  padding: 1em;
  overflow: hidden;
  position: absolute;
  top: 15%;
}

div.container a {
  display: block;
}

.overlay a {
  text-decoration: none;
  font-size: 36px;
  color: black;
  z-index: 3!important;
}
.overlay img{
  height: 30px;
  width: 31px;
  margin-bottom: 5px;
}
.overlay .closebtn {
  height: 40px;
  width: 40px;
  position: absolute;
  right: 10%;
  top: 5%;
}

.overlay-content>div>img{
   height: 30px;
  margin-top: 8px;
    margin-left: 10%;
  
}

.rectangle2{
    margin: 2%;
    margin-left: 6%;
    margin-bottom: 8%;
    width: 88%;
    height:1px;
    background:gray;
}
#Disconnect{
  height: 40px;
  width: 40px
}

#dropdown{
  display: none;
  z-index: 10;
  width: 90%;
  box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.35);
  background-color: rgba(0,0,0,0.1);
  margin-bottom: 20px;
  margin-top: 10px;

}
#dropdown img{
  margin-top: 10px;
  margin-left: 8px
}
#dropdown a{
  font-weight: normal;
  font-size: 25px
}