@charset "UTF-8";

body * {
  box-sizing: border-box;
}

.timeline {
  width: 100%;
  max-width: 800px;
  background: #FFF;

  position: relative;
  box-shadow: 0.5rem 0.5rem 2rem 0 rgba(0, 0, 0, 0.2);
}
.timeline:before {
  content: '';
  position: absolute;
  top: 0px;
  left: calc(1% + 10px);
  bottom: 0px;
  width: 4px;
  background: #ddd;
}
.timeline:after {
  content: "";
  display: table;
  clear: both;
}

.entry {
  clear: both;
  text-align: left;
  position: relative;
}

.entry .cercle {
  content: '';
  position: absolute;
  width: 54px;
  height: 54px;
  border-radius: 100%;
  left: calc(1% - 13px);
  top: 10px;
  z-index: 2;
}
.entry p{
  margin-bottom: 0px!important;
  font-weight: bold!important;
  font-size: 18px;
  letter-spacing: 0.01em;
}
.entry li{
  font-size: 16px;
  letter-spacing: 0.01em;
  color: #000000;
}
.entry ul{
  list-style-type: none!important;
}
.entry li:before{
 
}

.red .cercle{
  background-image: url("../../assets/infoAlert.png") 
}
.red p{
  color: #DC1D21;
}
.purple .cercle{
  background-image: url("../../assets/infoV.png") 
}
.purple p{
  color: #9370F3;
}
.blue .cercle{
  background-image: url("../../assets/infoB.png") 
}
.blue p{
  color: #7BC6E1;
}


.entry .body {
  padding-left: 60px;
  padding-right: 10px;
  padding-bottom: 40px
}
.entry .body p {
  line-height: 1.4em;
}
.entry .body p:first-child {
  margin-top: 0;
  font-weight: 400;
}
.entry .body ul {
  color: #aaa;
  padding-left: 0;
  list-style-type: none;
}
.entry .body ul li:before {
  content: "–";
  margin-right: .5em;
}
