{% extends "base.html" %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='pc/css/404.css') }}">
{% endblock %}

{% block main %}

    <div class="vincent-wrapper">
        <img width="700" src="{{ url_for('static', filename='pc/assets/vincent.gif') }}"/>
        <h1>Oops. Page not found!</h1>
        <a href="{{ url_for('home.home') }}">
            <button type="button" class="btn btn-primary">Back to the home page</button>
        </a>

    </div>

{% endblock %}
