{% extends "base.html" %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='pc/css/account.css') }}">
{% endblock style %}

{% block main %}
<div class="flex">
    <section>
        <h1>Your account</h1>
        <form action="{{ url_for('settings.settings_account_update') }}" method='POST'>
            <div class="form-group1">
                <div class="form-avatar">
                    <div class="img-avatar">
                        <img id='picture' src="{{ url_for('static', filename='pc/assets/avatar.png') }}" alt="your avatar">
                        <input id='fileinput' type="file" name="avatar">
                        <p>Change</p>
                    </div>
                    
                    <h2>@{{pseudo}}</h2> <!-- TODO -->
                    <span>Registered on DATE</span> <!-- TODO -->
                </div>
                <div class="form-password">
                    <fieldset>
                        <legend>Password</legend>
                        <input type="password" name="password" pattern="^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=\S+$).{6,}$" value='*******'>
                    </fieldset>
                </div>
            </div>

            <div class="form-group2">
                <div class="form-first-name">
                    <fieldset>
                        <legend>First Name</legend>
                        <input type="text" name="first-name" value="{{first}}">
                    </fieldset>
                </div>
                <div class="form-last-name">
                    <fieldset>
                        <legend>Last Name</legend>
                        <input type="text" name="last-name" value="{{last}}">
                    </fieldset>
                </div>
                <div class="form-phone">
                    <fieldset>
                        <legend>Phone Number</legend>
                        <input type="tel" name="phone" value="{{tel}}">
                    </fieldset>
                </div>
            </div>

            <div class="form-group3">
                <div class="form-email">
                    <fieldset>
                        <legend>Email</legend>
                        <input type="email" name="email" value="{{mail}}">
                    </fieldset>
                </div>
                <div class="form-town">
                    <fieldset>
                        <legend>Town</legend>
                        <input type="text" name="town" value="{{ville}}">
                    </fieldset>
                </div>
                <div class="form-address">
                    <fieldset>
                        <legend>Street</legend>
                        <input type="text" name="street" value="{{rue}}">
                    </fieldset>
                </div>
                <div class="form-postal">
                    <fieldset>
                        <legend>Postal Code</legend>
                        <input type="text" name="postal-code" pattern="[0-9]{5}" value="{{code}}">
                    </fieldset>
                </div>
            </div>

            <div class="form-submit">
                <!-- My Buttons -->
                <a class='rotate-rouge' href="{{ request.referrer }}">Cancel</a>
                <button class='rotate-vert' type="submit" data-toggle="modal" data-target="#modalCenter">Update</button>

                <!-- Bootstrap -->
                

            </div>
        </form>
    </section>
    <div class="modal fade" id="modalCenter" tabindex="-1" role="dialog" aria-labelledby="modalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalLongTitle">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Enter your actual password to confirm changes.</p>
                    <fieldset>
                        <input type="password" name="confirmpassword" value='********'>
                    </fieldset>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock main %}

{% block script %}
    <script>
        $(function() {
        $('#picture').on('click', function() {
            $('#fileinput').trigger('click');
        });
        });

        $(function(){
            $('#fileinput').change(function(){
            var input = this;
            var url = $(this).val();
            var ext = url.substring(url.lastIndexOf('.') + 1).toLowerCase();
            if (input.files && input.files[0]&& (ext == "gif" || ext == "png" || ext == "jpeg" || ext == "jpg")) {
                var reader = new FileReader();
          
                reader.onload = function (e) {
                    $('#picture').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
              
            });
          
          });
    </script>
{% endblock script %}