{% extends "base.html" %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='pc/css/admin_platform.css') }}">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.css">
{% endblock style %}

{% block main %}
<div class="flex">
    <h2>Server Overview</h2>

    <canvas id="cpu"></canvas>
    <canvas id="ram"></canvas>
</div>
{% endblock main %}

{% block script %}

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.bundle.min.js"></script>
<script src="{{ url_for('static', filename='pc/js/admin_platform_common.js') }}"></script>
<script src="{{ url_for('static', filename='pc/js/admin_platform_cpu.js') }}"></script>
<script src="{{ url_for('static', filename='pc/js/admin_platform_ram.js') }}"></script>
<script src="{{ url_for('static', filename='pc/js/admin_platform_run.js') }}"></script>

{% endblock script %}