{% extends "base.html" %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='pc/css/subscription.css') }}">
{% endblock style %}

{% block main %}
<div class="flex">
    <div class="flash">
        {% include "messages.html" %}
    </div>
    {% for sub in subscriptions %}
        {% if sub.name_subscription == "France" %}
        <section class='section-sub'>
        {% else %}
        <section class='section-sub selected-sub'>
        {% endif %}
            <h2>{{sub.name_subscription}}</h2>
            <div>
            <h4>{{sub.localisation_subscription}}</h4>
                <ul>
                    {% for feature in  features %}
                        {% if sub.name_subscription == "France" and feature == "World Wide Localisation"%}
                            <s>{{feature}}</s>
                        {% else %}
                            <li>{{feature}}</li>
                        {% endif %}
                    {% endfor %}
                </ul> 
            </div>
            
            <div class="sub-radio">
                <div><span onclick="selectSub(this)">Choose this plan - €{{sub.price_subscription}}/mo</span></div>
                <input type="radio" name="sub" value="{{sub.name_subscription}}" checked>
            </div>
        </section>
    {% endfor %}
    <section class='cancel'>
        <h2>Cancel</h2>
        <div>
            <h4>Cancel your subscription</h4>
            <p>Warning, this is an important action. Select this option will remove your privileges.</p>
            <p>Please send your BiKeeper at 15 Avenue de Paris if you want to leave our community.</p>
        </div>

        <a href="{{url_for('settings.settings_subscriptions_cancel')}}">Cancel</a>
    </section>
</div>
{% endblock main %}

{% block script %}
{% endblock script %}