{% extends "base.html" %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='pc/css/support.css') }}">
{% endblock style %}

{% block main %}
    <div class='flex'>
        <section class='tickets'>
            <div>
                <h3>Tickets</h3>

                <ul class="nav">
                    {% for numero in messages.keys() %}
                        <li onclick="activeLink(this)" class="inactive" >
                            <a href="#tab{{ numero }}" data-toggle="tab">
                                Ticket#{{ numero }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>

                <a href="#" data-toggle="modal" data-target="#modalCenter">Contact BiKeeper Team</a>
            </div>
        </section>

        <section class='chat'>
            <div class="tab-content">

                {% for numero,message in messages.items() %}
                    <div id="tab{{ numero }}" role="tabpanel" class="tab-pane fade in">
                        <ul id="ul-{{numero}}">

                        </ul>
                    </div>
                {% endfor %}

            </div>
            <div class="message-input">
                <div class="wrap">

                        <input type="text" id='msg' name='msg' placeholder="Write your message..."/>
                        <button class="submit" id='send-msg'><i class="fa fa-paper-plane" aria-hidden="true"></i></button>

                </div>
            </div>
        </section>
    </div>

    <div class="modal fade" id="modalCenter" tabindex="-1" role="dialog" aria-labelledby="modalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalLongTitle">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="{{ url_for('support.support_new_ticket') }}" method='POST'>
                    <div class="modal-body">
                        <p>What is your problem?</p>
                        <fieldset>
                            <input type="text" name="ticket" placeholder='I need you because...'>
                        </fieldset>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success">Contact</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock main %}



{% block script %}
<script src="{{ url_for('static', filename='pc/js/support.js') }}" defer></script>
<script>
    function getDate(){
        var today = new Date();
        var month = today.getMonth()+1;
        var seconds = today.getSeconds();
        if (month<10){
            month = '0'+month;
        }
        if (seconds<10){
            seconds = '0'+seconds;
        }
        var date = today.getFullYear()+'-'+month+'-'+today.getDate();
        var time = today.getHours() + ":" + today.getMinutes() + ":" + seconds;
        return date+' '+time;
    }

    {% autoescape false %}
    var current_user = '{{current_user.username_user}}';
    var is_admin = '{{current_user.is_admin_user}}';
    {% endautoescape %}

    $(function() {
        $('#send-msg').on('click', function() {
            var contenu_message = document.getElementById("msg").value;
            var is_admin_msg = is_admin;
            var datetime_msg = getDate();
            var id_ticket = getIdTicket();

            var xhttp = new XMLHttpRequest();
            xhttp.open("POST", "/support/message/new", true); 
            xhttp.setRequestHeader("Content-Type", "application/json");
            xhttp.onreadystatechange = function() {
              if (this.readyState == 4 && this.status == 200) {
                // Response
                var response = this.responseText;
                console.log("le message est envoyé")
              }
            };
            var data = {
                content:contenu_message,
                is_admin:is_admin_msg,
                date:datetime_msg,
                id_ticket:id_ticket,
            };
            
            xhttp.send(JSON.stringify(data));
           });
        });
</script>
{% endblock script %}