<!DOCTYPE html>
<html>
   <head>
        <meta charset="UTF-8">
        
        <link rel="shortcut icon" href="{{ url_for('static', filename = 'mobile/assets/logo_bikeeper_without_text.png') }}" type="image/x-icon">
        <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
        <link rel="stylesheet" href="{{ url_for('static',filename = 'mobile/css/Admin/support_dashboard_admin.css') }}">

        <title>BiKeeper</title>
    </head>
    <body>
    	<header>
    		<div>
            <img class="logo" src="{{ url_for('static', filename = 'mobile/assets/logo transparent 1.svg') }}" alt="logo BiKeeper">
            <span>BiKeeper</span>
        	</div>
        	<a href="{{ url_for('admin.humberger_overlay_connected_admin') }}"> <img class="hamburger" src="{{ url_for('static', filename = 'mobile/assets/hamburger.svg') }}" alt="option"></a>
    	</header>
    	<h2>TICKETS</h2>
    	<div class="tickets">
        <a href="{{ url_for('admin.admin_support') }}"> tickets </a>
    		{% for ticket in tickets %}
    		<ul>
    			<li> <a href="ticket#.html"> Ticket#</a>
    					<br>
    					<p> {{ subject }}</p>
    			</li>
    		</ul>
            {%  endfor %}
    	</div>