{% extends "base.html" %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='pc/css/support.css') }}">
{% endblock style %}

{% block main %}
<div class='flex'>
    <section class='tickets'>
        <div>
            <h3>Tickets</h3>
            <ul class="nav">                    
                <li><a href="#tab1" onclick="active(this)" class="inactive" data-toggle="tab">Ticket #1</a></li>
                <li><a href="#tab2" onclick="active(this)" class="inactive" data-toggle="tab">Ticket #2</a></li>
                <li><a href="#tab3" onclick="active(this)" class="inactive" data-toggle="tab">Ticket #3</a></li>
            </ul>
            <button>Contact BiKeeper Team</button>
        </div>
    </section>
    <section class='chat'>
        <div class="tab-content">
            <div id="tab1" role="tabpanel" class="tab-pane active fade in">
                <ul>
                    {% for i in range(2) %}
                    <li class="replies">
                        <img src="http://emilcarlsson.se/assets/harveyspecter.png" alt="" />
                        <p>What are your choices when someone puts a gun to your head?</p>
                    </li>
                    {% endfor %}
                    {% for i in range(2) %}
                    <li class="sent">
                        <p>What are you talking about? You do what they say or they shoot you.</p>
                        <img src="http://emilcarlsson.se/assets/mikeross.png" alt="" />
                    </li>
                    {% endfor %}
                    {% for i in range(2) %}
                    <li class="replies">
                        <img src="http://emilcarlsson.se/assets/harveyspecter.png" alt="" />
                        <p>What are your choices when someone puts a gun to your head?</p>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div id="tab2" role="tabpanel" class="tab-pane fade in">
                <ul>
                    <li class="replies">
                        <img src="http://emilcarlsson.se/assets/harveyspecter.png" alt="" />
                        <p>What are your choices when someone puts a gun to your head?</p>
                    </li>
                    <li class="sent">
                        <p>What are you talking about? You do what they say or they shoot you.</p>
                        <img src="http://emilcarlsson.se/assets/mikeross.png" alt="" />
                    </li>
                </ul>
            </div>
            <div id="tab3" role="tabpanel" class="tab-pane fade in">
                <ul>
                    <li class="replies">
                        <img src="http://emilcarlsson.se/assets/harveyspecter.png" alt="" />
                        <p>What are your choices when someone puts a gun to your head?</p>
                    </li>
                    <li class="sent">
                        <p>What are you talking about? You do what they say or they shoot you.</p>
                        <img src="http://emilcarlsson.se/assets/mikeross.png" alt="" />
                    </li>
                </ul>
            </div>
        </div>
        <div class="message-input">
			<div class="wrap">
                <input type="text" name='msg' placeholder="Write your message..." />
                <button class="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
			</div>
		</div>
    </section>
</div>
{% endblock main %}


{% block script %}
<script>
    function active(tab) {
        try{
            active = document.querySelector("ul.nav > li > a.active");
            active.classList.replace("active","inactive");
        }
        catch {

        }
        tab.classList.replace("inactive","active");
        return true;
    }
</script>
{% endblock script %}