html {
}

body{

}

div.main{
	width: 100%; /* largeur obligatoire pour être centré */
	display:flex;
	flex-direction:column;
	align-items:flex-end;


}

div.info-border{
    border: solid black;
	text-align: center;
	margin-left: 10%;
	margin-right:10%;
	margin-top:10%;

}

img.close_button{
	height: 70px;
	width: 70px;
}

p{
	font-size: 30px;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	color: #DC1D21;
}

