div.main{
	width: 100%;
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-orient:vertical;
	-webkit-box-direction:normal;
	    -ms-flex-direction:column;
	        flex-direction:column;
	-webkit-box-align:end;
	    -ms-flex-align:end;
	        align-items:flex-end;
}

div.info-border{
    border: solid black;
    text-align: center;
    padding: 0.2em;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 90%;
}

img.close_button{
	height: 70px;
	width: 70px;
}

p{
	font-size: 30px;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	color: #DC1D21;
}