{% extends "mobile/base.html" %}

{% block style %}

{% endblock %}

{% block header %}
        <div class="logo">
            <a href="/"><img src="{{ url_for('static', filename='mobile/assets/logo_bikeeper_without_text.png') }}" alt="logo BiKeeper">
            <h1>BiKeeper</h1></a>
        </div>

        {% include "components/mobile-sidebar-admin.html" %}
        <link rel="stylesheet" href="{{ url_for('static', filename='mobile/css/User/header-mobile.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='mobile/css/User/overlay.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',filename = 'mobile/css/Settings/account_parameters_update.css') }}">

        <nav onclick="openNav()"><img src="{{ url_for('static', filename='mobile/assets/menu.png') }}" alt="logo menu"></nav>
{% endblock %}

{% block main %}
    	<h2>Your account</h2>
    	<div class="main">
    		<div class="user-profile">
    			<div class="image">
					<div class="image-container">
						<img src="{{ url_for('static', filename = 'pc/assets/avatar.png') }}" style="border-radius: 50%" width="50%" height="auto">
					</div>
					<div class="button-image">
						<label for="profile_pic"></label>
						<input class = "select-image" id="profile_pic" name="profile_pic" type="file" accept=".png, .gif, .jpg">
					</div>
    			</div>
    		</div>
            <div class="account">
                <h3>Registered on {{ register_date }}</h3>

                    <fieldset>
                        <legend>First name</legend>
                        <input class="form-input" type="text" name="Fname" id="Fname" placeholder="Elon" required />
                    </fieldset>

                    <fieldset>
                        <legend>Last name</legend>
                        <input class="form-input" type="text" name="Lname" id="Lname" placeholder="Musk" required />
                    </fieldset>

                    <fieldset>
                        <legend>Phone number</legend>
                        <input class="form-input" type="tel" name="numtel" id="numtel" placeholder="+33 7 85 69 24 15" required />
                    </fieldset>

                    <fieldset>
                        <legend>Email</legend>
                        <input class="form-input" type="email" name="mail" id="mail" placeholder="Elonmusk@tesla.com" required />
                    </fieldset>

                    <fieldset>
                        <legend>Adress</legend>
                        <input class="form-input" type="text" name="Adress" id="Adress" placeholder="289 Elkview Drive, Vero Beach, Florida" required />
                    </fieldset>

            </div>
        </div>
        <footer>
            <button class="update" type="button">Update informations</button>
            <button class="cancel" type="button">Cancel</button>
        </footer>
 {% endblock %}

{% block script %}
    <script>
        $(function() {
        $('#picture').on('click', function() {
            $('#fileinput').trigger('click');
        });
        });

        $(function(){
            $('#fileinput').change(function(){
            var input = this;
            var url = $(this).val();
            var ext = url.substring(url.lastIndexOf('.') + 1).toLowerCase();
            if (input.files && input.files[0]&& (ext == "gif" || ext == "png" || ext == "jpeg" || ext == "jpg")) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#picture').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }

            });

          });
    </script>
{% endblock script %}

