{% extends "mobile/base.html" %}

{% block style %}
{% endblock %}

{% block header %}
        <div class="logo">
            <a href="/"><img src="{{ url_for('static', filename='mobile/assets/logo_bikeeper_without_text.png') }}" alt="logo BiKeeper">
            <h1>BiKeeper</h1></a>
        </div>

        {% include "components/mobile-sidebar-admin.html" %}
        <link rel="stylesheet" href="{{ url_for('static', filename='mobile/css/User/header-mobile.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='mobile/css/User/overlay.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',filename = 'mobile/css/Settings/credit-card.css') }}">

        <nav onclick="openNav()"><img src="{{ url_for('static', filename='mobile/assets/menu.png') }}" alt="logo menu"></nav>
{% endblock %}

{% block main %}
    <h2>Your Credit card</h2>
    <div class="credit-card">
        <div class="info">
            <div class="type">
                <h4>Credit card</h4>
                <img src="{{ url_for('static', filename='mobile/assets/mastercard.png') }}" alt="master card logo">
            </div>
            <div class="number">
                <h4>Card Number</h4>
                <span>1234-****-****-4567</span>
            </div>
            <div class="name">
                <h4>Card Holder name</h4>
                <span>John Doe</span>
            </div>
        </div>
        <button type="button" name="update" value="update">Update informations</button>
    </div>

    </div>

{% endblock %}