{% extends "mobile/base.html" %}

{% block style %}
{% endblock %}

{% block header %}
        <div class="logo">
            <a href="/"><img src="{{ url_for('static', filename='mobile/assets/logo_bikeeper_without_text.png') }}" alt="logo BiKeeper">
            <h1>BiKeeper</h1></a>
        </div>

        {% include "components/mobile-sidebar.html" %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='mobile/css/User/header-mobile.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='mobile/css/User/overlay.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',filename = 'mobile/css/Settings/edit_payement.css') }}">

        <nav onclick="openNav()"><img src="{{ url_for('static', filename='mobile/assets/menu.png') }}" alt="logo menu"></nav>
{% endblock %}

{% block main %}
<div class="flex">
    <section>
        <h2>Credit Card</h2>
        <img src="{{ url_for('static', filename='pc/assets/mastercard.png') }}" class="img-card" alt="mastercard logo">

        <form action="{{ url_for('settings.settings_account_update') }}" method='POST'>
            
            <div class="form-number">
                <fieldset>
                    <legend>Card Number</legend>
                    <input type="text" name="number" placeholder='xxxx - xxxx - xxxx 4567'>
                </fieldset>
            </div>

            <div class="form-holder">
                <fieldset>
                    <legend>Card Holder Name</legend>
                    <input type="text" name="holder" placeholder='John Doe'>
                </fieldset>
            </div>

            <div class="form-expiration">
                <fieldset>
                    <legend>Expiration Date</legend>
                    <input type="date" name="expiration">
                </fieldset>
            </div>

            <div class="form-cvv">
                <fieldset>
                    <legend>CVV / CVC</legend>
                    <input type="text" name="cvv" placeholder='666'>
                </fieldset>
            </div>

            <div class="form-submit">
                <!-- My Buttons -->
                <a class='rotate-rouge' href="{{ request.referrer }}">Cancel</a>
                <button class='rotate-vert' type="button" data-toggle="modal" data-target="#modalCenter">Update</button>

                <!-- Bootstrap -->
                <div class="modal fade" id="modalCenter" tabindex="-1" role="dialog" aria-labelledby="modalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalLongTitle">Modal title</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Enter your password to confirm changes.</p>
                                <fieldset>
                                    <input type="password" name="confirmpassword" placeholder='********'>
                                </fieldset>
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal" >Close</button>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </form>
    </section>
</div>
{% endblock main %}

{% block script %}
    <script>
        $(function() {
        $('#picture').on('click', function() {
            $('#fileinput').trigger('click');
        });
        });
    </script>
{% endblock script %}