{% extends "mobile/base.html" %}

{% block style %}
{% endblock %}

{% block header %}
        <div class="logo">
            <a href="/"><img src="{{ url_for('static', filename='mobile/assets/logo_bikeeper_without_text.png') }}" alt="logo BiKeeper">
            <h1>BiKeeper</h1></a>
        </div>

        {% include "components/mobile-sidebar.html" %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='mobile/css/User/header-mobile.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='mobile/css/User/overlay.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',filename = 'mobile/css/Settings/settings.css') }}">

        <nav onclick="openNav()"><img src="{{ url_for('static', filename='mobile/assets/menu.png') }}" alt="logo menu"></nav>
{% endblock %}

{% block main %}
<section class="cards">
    <a href="{{url_for('settings.settings_account')}}">
    <div class="settings-card">
        <div class="settings-card-img"></div>
            <div class="settings-card-text">
                <h3>Account Parameters</h3>
            </div>

        <img src="{{ url_for('static', filename='mobile/assets/id_card.svg') }}">
    </div>
    </a>

    <a href="{{url_for('settings.settings_devices')}}">
    <div class="settings-card">
        <div class="settings-card-img"></div>
        <div class="settings-card-text">
            <h3>BiKeeper Settings</h3>
        </div>
        <img src="{{ url_for('static', filename='mobile/assets/settings.svg') }}">
    </div>
    </a>

    <a href="{{url_for('settings.settings_contact')}}">
    <div class="settings-card">
        <div class="settings-card-img"></div>
        <div class="settings-card-text">
            <h3>Contacts</h3>
        </div>

        <img src="{{ url_for('static', filename='mobile/assets/contact.svg') }}">
    </div>
    </a>

    <a href="{{url_for('settings.settings_card')}}">
    <div class="settings-card">
        <div class="settings-card-img"></div>
        <div class="settings-card-text">
            <h3>Payments</h3>
        </div>

        <img src="{{ url_for('static', filename='mobile/assets/credit_card_alt.svg') }}">
    </div>
    </a>

    <a href="{{url_for('settings.settings_subscriptions')}}">
    <div class="settings-card">
        <div class="settings-card-img"></div>
        <div class="settings-card-text">
            <h3>My subscription</h3>
        </div>

        <img src="{{ url_for('static', filename='mobile/assets/info_circle_outline.svg') }}">
    </div>
    </a>
</section>
{% endblock %}