{% extends "mobile/base.html" %} {% from "components/mobile-btn-large.html" import newLargeButton with context %} {% block header %}
<header>
    <div class="logo">
        <a href="/mob/home/"><img src="{{ url_for('static', filename='mobile/assets/logo_bikeeper_without_text.png') }}" alt="logo BiKeeper">
            <h1>BiKeeper</h1>
        </a>
    </div>
    {% include "components/mobile-sidebar.html" %}
    <!-- Use any element to open/show the overlay navigation menu -->
    <nav onclick="openNav()"><img src="{{ url_for('static', filename='mobile/assets/menu.png') }}" alt="logo menu"></nav>
</header>
{% endblock header %} {% block main %}
<div class="container">

    {{ newLargeButton("/settings/account/", "Account Parameters", "mobile/assets/location_outline.png", "account") }}
    {{ newLargeButton("/bikeeper/settings", "BiKeeper Settings", "mobile/assets/settings.png", "settings") }}
    {{ newLargeButton("/settings/contacts","Contacts","mobile/assets/user.png","find") }}
    {{ newLargeButton("/settings/card", "My Credit Card", "mobile/assets/credit_card_alt.png", "Credit") }}
    {{ newLargeButton("/mob/settings/plan/", "My Subscriptions", "mobile/assets/info_circle_outline.png","Subscriptions") }}


</div>



{% endblock main %}
{% block script %} {% endblock script %}