{% endblock %}

{% block header %}
        <div class="logo">
            <a href="/"><img src="{{ url_for('static', filename='mobile/assets/logo_bikeeper_without_text.png') }}" alt="logo BiKeeper">
            <h1>BiKeeper</h1></a>
        </div>

        {% include "components/mobile-sidebar-admin.html" %}
        <link rel="stylesheet" href="{{ url_for('static', filename='mobile/css/User/header-mobile.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='mobile/css/User/overlay.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',filename = 'mobile/css/Settings/subscription.css') }}">

        <nav onclick="openNav()"><img src="{{ url_for('static', filename='mobile/assets/menu.png') }}" alt="logo menu"></nav>
{% endblock %}

{% block main %}
    <h2>Credit card</h2>
    <div id="credit-card">
                <img src="{{ url_for('static', filename='mobile/assets/mastercard.png') }}" alt="master card logo">
                <fieldset>
                    <legend>Card number</legend>
                    <input type="text" id='username' name="username" placeholder='1234 - 5678 - 9123 - 4567' required>
                </fieldset>
                <fieldset>
                    <legend>Card Holder Name</legend>
                    <input type="text" id='username' name="username" placeholder='John Doe' required>
                </fieldset>
                <fieldset>
                    <legend>Expiration Date</legend>
                    <input type="text" id='username' name="username" placeholder='08/22' required>
                </fieldset>
                <fieldset>
                    <legend>CVV/CVC</legend>
                    <input type="text" id='username' name="username" placeholder='666' required>
                </fieldset>
            </div>

{% endblock %}