{% extends "mobile/base.html" %}
{% from "components/mobile-btn-large.html" import newLargeButton with context %}

    {% block header %}
        <div class="logo">
            <a href="/home/"><img src="{{ url_for('static', filename='mobile/assets/logo_bikeeper_without_text.png') }}" alt="logo BiKeeper">
                <h1>BiKeeper</h1>
            </a>
        </div>
        {% include "components/mobile-sidebar.html" %}
        <!-- Use any element to open/show the overlay navigation menu -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='mobile/css/User/header-mobile.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='mobile/css/User/overlay.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='mobile/css/User/home-mobile.css') }}">
        <nav onclick="openNav()"><img src="{{ url_for('static', filename='mobile/assets/menu.png') }}" alt="logo menu"></nav>
    {% endblock %}

    {% block main %}
    <div class="container">

        {{ newLargeButton("/mob/localisation/", "Find your motorbike", "mobile/assets/location_outline.png", "find") }}

        <div class="row">
            <div class="col-6">
                <div class="card" style="width: 18rem;">
                    <div class="cercle">18</div>
                    <img src="{{ url_for('static', filename='mobile/assets/alert.png') }}" class="card-img-top" alt="alert">
                    <div class="card-body">
                        <h5 class="card-title">Alerts</h5>
                        <a href="#" class="link">All notification</a>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card" style="width: 18rem;">
                    <div class="cercle">18</div>
                    <img src="{{ url_for('static', filename='mobile/assets/moto1.png') }}" class="card-img-top" alt="moto">
                    <div class="card-body">
                        <h5 class="card-title">Rides</h5>
                        <a href="#" class="link">See all your courses</a>
                    </div>
                </div>
            </div>
        </div>
        <div id="activity">
            <h2>Weekly activity</h2>
            <div>







            </div>
        </div>

    </div>
    {% endblock %}
