<!DOCTYPE html>
<html>
   <head>
        <meta charset="UTF-8">
        
        <link rel="shortcut icon" href="../../../static/mobile/assets/logo_bikeeper_without_text.png" type="image/x-icon">
        <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
        <link rel="stylesheet" href="../../../static/mobile/css/User/humberger_overlay_connected.css">

        <title>BiKeeper</title>
        <script src="../../../static/mobile/js/hamburger.js"></script> 
    </head>
    <body>
        <div class="main">
            <a href = "../Authentification/login.html"><img src="../../../static/mobile/assets/off_outline_close.svg" href="javascript:void(0)" class="close_button" onclick="closeNav()" alt="close" alt = "Retour à l'accueil"></a>
            <nav class="nav-list">
               <ul class="list">
					<li><a href="../Authentification/home.html"> Home <img class="home" src="../../../static/mobile/assets/Vector.svg" alt="accueil"></a></li>
					<li><a href="statistics.html"> Statistics <img class="statistic" src="../../../static/mobile/assets/settings%201.svg" alt="statistiques"></a></li>
					<li><a href="settings.html"> Settings <img class="setting" src="../../../static/mobile/assets/support.svg" alt="paramètres"></a></li>
					<li><a href="support_chat.html"> Support <img class="support" src="../../../static/mobile/assets/layers.svg" alt="aide"></a></li>
					<li><a href="../Authentification/login.html"> Disconnect <img class="disconnect" src="../../../static/mobile/assets/log_out.svg" alt="se déconnecter"></a></li>
              		<li><a href="dropdown.html.html"> Device <img class="device" src="../../../static/mobile/assets/Device.svg" alt="outils"></a></li>
               </ul>
            </nav>
        </div>
    </body>
</html>