<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='mobile/css/User/overlay.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='mobile/css/User/support-mobile.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='mobile/css/User/header-mobile.css') }}">

    <title>Login - BiKeeper</title>
    
</head>

<body>
	<header>
        <div class="logo">
            <a href="/mob/home/"><img src="{{ url_for('static', filename='mobile/assets/logo_bikeeper_without_text.png') }}" alt="logo BiKeeper">
            <h1>BiKeeper</h1></a>
        </div>
        <div id="myNav" class="overlay">

            <!-- Button to close the overlay navigation -->
            <img src="{{ url_for('static', filename='mobile/assets/close.png') }}" href="javascript:void(0)" class="closebtn" onclick="closeNav()" alt="close">

            <!-- Overlay content -->
            <div class="container">
                <a href="/mob/home/">
                    <div class="row">
                        <div class="col-2"><img src="{{ url_for('static', filename='mobile/assets/Vector.svg') }}" alt="vector"></div>
                        <div class="col-10">Home</div>
                    </div>
                </a>
                <div class="rectangle2"></div>
                <a href="/mob/statistic/">
                    <div class="row">
                        <div class="col-2"><a><img src="{{ url_for('static', filename='mobile/assets/graphicon1.svg') }}" alt="stat"></a></div>
                        <div class="col-10"><a>Statistics</a></div>
                    </div>
                </a>
                <div class="rectangle2"></div>
                <a href="">
                    <div class="row">
                        <div class="col-2"><a><img src="{{ url_for('static', filename='mobile/assets/settings1.svg') }}" alt="setting"></a></div>
                        <div class="col-10"><a>Settings</a></div>
                    </div>
                </a>
                <div class="rectangle2"></div>
                <a href="/mob/support/">
                    <div class="row">
                        <div class="col-2"><a><img src="{{ url_for('static', filename='mobile/assets/support.svg') }}" alt="support"></a></div>
                        <div class="col-10"><a>Support</a></div>
                    </div>
                </a>
                <div class="rectangle2"></div>
                <a href="">
                    <div class="row">
                        <div class="col-2"><a><img src="{{ url_for('static', filename='mobile/assets/log_out.svg') }}" alt="log_out" id="Disconnect"></a></div>
                        <div class="col-10"><a>Disconnect</a></div>
                    </div>
                </a>
                <div class="rectangle2"></div>
                <a href="/mob/localisation/">
                    <div class="row">
                        <div class="col-2"><a><img src="{{ url_for('static', filename='mobile/assets/Device.svg') }}" alt="device"></a></div>
                        <div class="col-10"><a>Device</a></div>
                    </div>
                </a>
                <div class="rectangle2"></div>
            </div>
        </div>

        <!-- Use any element to open/show the overlay navigation menu -->
        <nav onclick="openNav()"><img src="{{ url_for('static', filename='mobile/assets/menu.png') }}" alt="logo menu"></nav>
	</header>
    <main>

    </main>
</body>

<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='mobile/js/hamburger.js') }}"></script> 

</html>