<footer class='footer'>

    <div class='footer-left'>

        <h3>Bi<span>Keeper</span></h3>

        <p class='footer-links'>
            <a href="{{ url_for('register.register')}}" class='link-1'>Get a BiKeeper device</a>

            <a href='bikeeper.team@gmail.com'>Contact us</a>
        </p>

        <p class='footer-name'>BiKeeper Company © 2020</p>
    </div>

    <div class='footer-center'>

        <div>
            <p><span>16 rue d'Issoudun</span> 45160, Olivet, France</p>
        </div>

        <div class='footer-contact-tel'>
            <p>06 57 72 24 61</p>
        </div>

        <div class='footer-contact-mail'>
            <p><a href='mailto:bikeeper.team@gmail.com'>bikeeper.team@gmail.com</a></p>
        </div>

    </div>

    <div class='footer-right'>

        <p class='footer-about'>
            <span>About us</span>BiKeeper is a company created in 2020. Our vocation is the security of others and their property through anti-theft devices!
        </p>

    </div>

</footer>