
    <!-- Overlay content -->
    <div class="container">
        {% if not current_user.is_admin_user %}
        <a href="/home/">
        {% else %}
        <a href="/admin/home/">
        {% endif %}
            <div class="row">
                <div class="col-2"><img src="{{ url_for('static', filename='mobile/assets/Vector.svg') }}" alt="vector"></div>
                <div class="col-10">Home</div>
            </div>
        </a>
        <div class="rectangle2"></div>
        {% if not current_user.is_admin_user %}
        <a href="/statistics/">
            <div class="row">
                <div class="col-2"><img src="{{ url_for('static', filename='mobile/assets/graphicon1.svg') }}" alt="stat"></div>
                <div class="col-10">Statistics</div>
            </div>
        </a>
        <div class="rectangle2"></div>
        {% endif %}
        {% if current_user.is_admin_user %}
        <a href="#404">
            <div class="row">
                <div class="col-2"><img src="{{ url_for('static', filename='mobile/assets/settings1.svg') }}" alt="setting"></div>
                <div class="col-10">Users</div>
            </div>
        </a>
        <div class="rectangle2"></div>
        {% endif %}
        {% if current_user.is_admin_user %}
        <a href="/admin/access/">
            <div class="row">
                <div class="col-2"><img src="{{ url_for('static', filename='mobile/assets/layers.svg') }}" alt="setting"></div>
                <div class="col-10">Platform</div>
            </div>
        </a>
        <div class="rectangle2"></div>
        {% endif %}
        {% if not current_user.is_admin_user %}
        <a href="/settings/">
            <div class="row">
                <div class="col-2"><img src="{{ url_for('static', filename='mobile/assets/settings1.svg') }}" alt="setting"></div>
                <div class="col-10">Settings</div>
            </div>
        </a>
        <div class="rectangle2"></div>
        {% endif %}
        {% if not current_user.is_admin_user %}
        <a href="/support/">
        {% else %}
        <a href="/admin/support/">
        {% endif %}
            <div class="row">
                <div class="col-2"><img src="{{ url_for('static', filename='mobile/assets/support.svg') }}" alt="support"></div>
                <div class="col-10">Support</div>
            </div>
        </a>
        <div class="rectangle2"></div>
        <a href="{{ url_for('logout.logout')}}">
            <div class="row">
                <div class="col-2"><img src="{{ url_for('static', filename='mobile/assets/log_out.svg') }}" alt="log_out" id="Disconnect"></div>
                <div class="col-10">Disconnect</div>
            </div>
        </a>
        <div class="rectangle2"></div>
        {% if not current_user.is_admin_user %}
        <a href="#" onclick="dropdown()">
            <div class="row">
                <div class="col-2"><img src="{{ url_for('static', filename='mobile/assets/Device.svg') }}" alt="device"></div>
                <div class="col-10">Device</div>
            </div>
        </a>
        <div class="drpdwn">
            <div id="dropdown">
                <div class="row">
                {% for device in devices %}
                <form action="{{ url_for('sidebar.sidebar_device_change') }}" method="POST">
                    <button type='submit' name="device_change" value="{{device.num_device}}" class="dropdown-item">{{ device.name_device }}</button>
                </form>
                {% endfor %}
                </div>
            </div>
        </div>
        
        <div class="rectangle2"></div>
        {% endif %}
    </div>
</div>
<script type="text/javascript">