 <div id="myNav" class="overlay">

          <!-- Button to close the overlay navigation -->
          <img src="{{ url_for('static', filename='mobile/assets/close.png') }}" href="javascript:void(0)" class="closebtn" onclick="closeNav()" alt="close">

          <!-- Overlay content -->
            <div class="overlay-content">
                <div id="login">
                    <img src="{{ url_for('static', filename='mobile/assets/login.png') }}" alt="login">
                    <div class="centrer">
                        <a href="/login/">Login</a>
                    </div>

                </div>
                <div class="rectangle2"></div>
                <div id="register">
                    <img src="{{ url_for('static', filename='mobile/assets/register.png') }}" alt="register">
                    <div class="centrer"><a href="/register/">Register</a></div>
                </div>
                <div class="rectangle2"></div>
            </div>

        </div>