:root {
    --rouge: #DC1D21;
    --rouge-hover: #c21a1c;
    --vert: #0ea500;
    --vert-hover: #0d9900;
    --orange: #ff9100;
    --taille-header:66px;
    --taille-sidebar: 15vw;
    --taille-elements-width: calc(60vw - var(--taille-sidebar));
    --taille-card: 14vw;
}

div.flex section h1{
	font-size: 24px;
    margin: 0 auto;
}

div.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
}

section {
    background-color: white;
    border-radius: 1em;
    width: 90%;
    text-align: center;
    padding: 1em;
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
}

form {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
            box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 1em;
    background-color: white;
}

form * {
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-filter: none;
            filter: none;
}

form > div {
    margin-top: 2em;
}

form > h3 {
    padding: 1em;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    -webkit-transition: opacity .2s;
    -o-transition: opacity .2s;
    transition: opacity .2s;
}
  
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: var(--rouge);
    cursor: pointer;
}
  
.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--rouge);
    cursor: pointer;
}

form div.slidecontainer {
    width: 90%;
}

form div.slidecontainer > div {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
}

form div.slidecontainer > div input {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-left: 1em;
    margin-right: 1em;
}

#value-delay,
#value-movement,
div.slidecontainer span {
    font-weight: bold;
}

form input[type=range] {
    width: 100%;
}

form div.form-submit {
    width: 70%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-top: 3em;
    margin-bottom: 3em;
}

form div.form-submit>a,
form div.form-submit>button {
    padding: 0.4em 3em;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1.6rem;
    border-radius: .3em;
    margin-top: .8em;
}

form div.form-submit>a {
    border: solid var(--rouge) 2px;
    display: block;
}

form div.form-submit>button {
    border: solid var(--vert) 2px;
    background-color: transparent;
    outline: none;
    margin-bottom: 1em;
}

div.group3 {
    margin-top: 2em;
}

.modal-fd {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.modal-fd input {
	width: 100%;
}

button.close {
	width: 1.2em;
    height: 1.2em;
    outline: none;
    border: none;
    border-radius: 2em;
	position: relative;
	background-color: var(--rouge);
}

button.close span {
	margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-43%, -55%);
        -ms-transform: translate(-43%, -55%);
            transform: translate(-43%, -55%);
	color: white;
}
